<script lang = "ts" setup>
import { reactive, ref } from 'vue';


const dynamicId = ref('MyId')
const titleClass = ref('gg')
const myClass = reactive({gg: true, bold:true, underline:true})
myClass.bold=false;
</script>

<template>
    <div :id="dynamicId" :class = "myClass">{{ dynamicId }}</div>
</template>

<style scoped>
.gg {
    color: aquamarine;
}
.bold {
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}
</style>