<script setup lang = "ts">
import Declarative_Rendering from './components/Declarative_Rendering.vue';
import AttributeBindings from './components/AttributeBindings.vue';
</script>

<template>
  <h>Hello World!</h>
  <Declarative_Rendering></Declarative_Rendering>
  <AttributeBindings></AttributeBindings>
</template>